<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

<title>Dashboard</title>
</head>
</head>
<header></header>
<section class="main-wrap">
	<div class="dashboardWrap">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 text-center">
					<h2>Dashboard</h2>
					<div class="loggedUserBox">
						<span sec:authentication="principal.username">User</span> <a
							sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row cmptRegistration">
				<div class="col-sm-12">
					<h3>Complete your registration</h3>
				</div>
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-4 text-center">
							<div class="regiStep">1</div>
							<a th:href="@{/register_address}">Address</a>
						</div>
						<div class="col-sm-4 text-center">
							<div class="regiStep">2</div>
							<a th:href="@{/register_identity}">Identity</a>
						</div>
						<div class="col-sm-4 text-center">
							<div class="regiStep">3</div>
							<a th:href="@{/register_bank_account}">Bank Account</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<p>Lorem Ipsum is simply dummy text of the printing and
						typesetting industry. Lorem Ipsum has been the industry's standard
						dummy text ever since the 1500s, when an unknown printer took a
						galley of type and scrambled it to make a type specimen book. It
						has survived not only five centuries, but also the leap into
						electronic typesetting, remaining essentially unchanged. It was
						popularised in the 1960s with the release of Letraset sheets
						containing Lorem Ipsum passages, and more recently with desktop
						publishing software like Aldus PageMaker including versions of
						Lorem Ipsum.</p>
					<p>Lorem Ipsum is simply dummy text of the printing and
						typesetting industry. Lorem Ipsum has been the industry's standard
						dummy text ever since the 1500s, when an unknown printer took a
						galley of type and scrambled it to make a type specimen book. It
						has survived not only five centuries, but also the leap into
						electronic typesetting, remaining essentially unchanged. It was
						popularised in the 1960s with the release of Letraset sheets
						containing Lorem Ipsum passages, and more recently with desktop
						publishing software like Aldus PageMaker including versions of
						Lorem Ipsum.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<footer></footer>
<script type="text/javascript" src="assets/js/jquery-3.1.1.js"></script>
<script type="text/javascript" src="assets/js/modernizr-2.6.2.min.js"></script>
<script type="text/javascript" src="assets/js/detectizr.min.js"></script>
<script type="text/javascript" src="assets/js/custom.js"></script>
</script>

</body>
</html>