<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>

    <title>Registration - Identity</title>
</head>

<body>
<br>
<div class="col-md-12 col-md-offset-1">
    <h2>Registration - Identity</h2>
    <div class="col-md-4 col-md-offset-8">
        <div class="loggedUserBox">
            <span sec:authentication="principal.username">User</span> <a
                sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <!-- Below snippet to create registration form  -->
            <br> <br>

            <form th:action="@{/identityRegistration}" th:object="${identity}"
                  method="post">

                <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
                   th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
                    error</p>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('documentType')}? 'has-error':''">
                    <label for="documentType" class="control-label">Document
                        type<sup>*</sup>:
                    </label> <select name="documentType" id="documentType" th:field="*{documentType}">
                    <option value="Identity Card">Identity Card</option>
                    <option value="Passport">Passport</option>
                    <option value="Business License">Business License</option>
                </select>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('documentType')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('documentNumber')}? 'has-error':''">
                    <label for="documentNumber" class="control-label">
                        Document Number<sup>*</sup>:
                    </label> <input id="documentNumber" class="form-control"
                                    th:field="*{documentNumber}" autofocus="autofocus"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('documentNumber')}"
                       th:text="${error}">Validation error</p>
                </div>

                <br>
                <div class="col-sm-10 text-left">
                    <p>* Mandatorty field</p>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>

                <div th:if="${param.success}">
                    <div class="col-sm-20 text-left">
                        <div class="alert alert-info">Identity details saved
                            successfully.
                            <a th:href="@{/dashboard}">Click here to go back to
                                dashboard page</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>

</html>