<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

    <title>Registration - Address</title>
</head>

<body>
    <header></header>
    <section class="main-wrap">
        <div class="dashboardWrap">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2>Registration - Address</h2>
                        <div class="loggedUserBox"><span sec:authentication="principal.username">User</span> <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a></div>
                    </div>
                    
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="loginWrap registrationWrap">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="inputFeild">
                                    <div class="row">
                                        <div class="col-xs-5 text-right">
                                            <label for="line1">Line 1<sup>*</sup></label>
                                        </div>
                                        <div class="col-xs-7">
                                            <input required type="text" maxlength="30" id="line1" class="inpDefault js-required">
                                            <span class="errorText"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="inputFeild">
                                    <div class="row">
                                        <div class="col-xs-5 text-right">
                                            <label for="line2">line 2</label>
                                        </div>
                                        <div class="col-xs-7">
                                            <input required type="text" maxlength="30" id="line2" class="inpDefault js-required">
                                            <span class="errorText"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="inputFeild">
                                    <div class="row">
                                        <div class="col-xs-5 text-right">
                                            <label for="city">City<sup>*</sup></label>
                                        </div>
                                        <div class="col-xs-7">
                                            <input required type="text" maxlength="30" id="city" class="inpDefault js-required">
                                            <span class="errorText"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="inputFeild">
                                    <div class="row">
                                        <div class="col-xs-5 text-right">
                                            <label for="pincode">Pincode<sup>*</sup></label>
                                        </div>
                                        <div class="col-xs-7">
                                            <input required type="text" maxlength="6" id="pincode" class="inpDefault js-required js-numbersOnly">
                                            <span class="errorText"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="inputFeild">
                                    <div class="row">
                                        <div class="col-xs-5 text-right">
                                            <label for="Country">Country<sup>*</sup></label>
                                        </div>
                                        <div class="col-xs-7">
                                            <select name="" id="Country">
                                                <option value="">Please Select</option>
                                                <option value="">Singapore</option>
                                                <option value="">India</option>
                                                <option value="">China</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="inputFeild">
                                    <div class="row">
                                        <div class="col-xs-5 text-right">
                                            <label for="emailLogin">Email<sup>*</sup></label>
                                        </div>
                                        <div class="col-xs-7">
                                            <input required type="text" maxlength="30" id="emailLogin" class="inpDefault js-required js-email">
                                            <span class="errorText"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6 text-left">
                                <p>* Mandatorty field</p>
                            </div>
                            <div class="col-sm-6 text-right">
                                <button>Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer></footer>
    
    <script type="text/javascript" src="assets/js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="assets/js/modernizr-2.6.2.min.js"></script>
    <script type="text/javascript" src="assets/js/detectizr.min.js"></script>
    <script type="text/javascript" src="assets/js/custom.js"></script>
   
</body>

</html>