/** === CSS Reset ===**/
*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    outline:0;
}
body, button, p{
    margin:0;
}
a{
    text-decoration:none;
    color:inherit;
}
ul{
    padding:0;
    margin:0;
}
ul li{
    list-style:none;
}
img{
    border:0;
}
button{
    cursor:pointer;
}
h1, h2, h3, h4, h5, h6{
    font-weight:500;
    margin:0;
    font-size:inherit;
}
body{
    font-family: Helvetica Neue,Helvetica,Arial,Sans-serif;
    font-size:16px;
    line-height:1.4;
    color:#616161;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
input, textarea, button, select{
    font-family:inherit;
    font-size:inherit; 
    background:none; 
    border-radius:0;
    outline:0; 
    padding:0;
    border:1px solid;
}
input[type="tel" i]{padding:0;}
input[type="tel" i]:focus{outline-offset:0}
select.no-arrow{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}
button:focus, input:focus, a:focus, a:active, select:focus{
    outline:0;
}
button::-moz-focus-inner, input::-moz-focus-inner, a::-moz-focus-inner, select::-moz-focus-inner, option::-moz-focus-inner{
    border:0;
}
select:focus:-moz-focusring {
  color:transparent;
  text-shadow:0 0 0 #585858;
}
input[type="tel" i]:disabled, input:disabled{
    color:inherit;
    opacity:1;
    -webkit-text-fill-color:#585858;
}
.clearfix:before, .clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
    clear:both;
}
::-webkit-input-placeholder { 
  color:#a9a9a9;
}
::-moz-placeholder { 
  color:#a9a9a9;
}
:-ms-input-placeholder { 
  color:#a9a9a9;
}
:-moz-placeholder { 
  color:#a9a9a9;
}
/*menu css start here*/
html {
  scroll-behavior: smooth;
  position: relative;
}

.main-wrap{
  position: relative;
}
.main-wrap h2{
  font-size: 31px;
  padding: 20px 0;
}
.main-wrap h3{
  font-size: 21px;
  line-height: 1;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}
.main-wrap .loginWrap{
  width: 450px;
  max-width: 100%;
  display: inline-block;
  padding: 20px;
  box-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.09);
  border: 0.1rem solid #e3e3e3;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.main-wrap .loginWrap p{
  font-size: 14px;
}
.main-wrap .inputFeild{
  position: relative;
  margin-bottom: 20px;
}
.main-wrap label{
  margin-bottom: 0;
  margin-top: 5px;
}
.main-wrap input,
.main-wrap select{
  width: 100%;
  text-align: left;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
  font-size: 16px;
  color: #444;
  border-bottom: 1px solid #a5a7a9;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 5px 0;
}
.main-wrap .radio{
  display: inline-block;
  margin: 0;
}
.main-wrap .radio input[type=radio]{
  width: auto;
}
.main-wrap input{
  padding-left: 6px;
}
.main-wrap button{
  background: #4070f4;
  padding: 4px 16px;
  color: #ffffff;
  border-radius: 4px;
  font-size: 16px;
  margin: 15px 0;
}
.errorText{
  position: absolute;
  bottom: -16px;
  font-size: 1.1rem;
  left: 15px;
  color: #ff5f5f;
  background: #fff;
  z-index: 1;
  width: auto;
}
.main-wrap a,
.main-wrap a:hover{
  color: #4070f4;
}

.main-wrap .loginWrap.registrationWrap p{
  font-size: 12px;
  margin-top: 16px;
}
.main-wrap .loggedUserBox{
  position: absolute;
  top: 30%;
  right: 2%;
}
.main-wrap .loggedUserBox a{
  border: 1px solid #4070f4;
  padding: 4px 6px;
  text-decoration: none;
}
.main-wrap .dashboardWrap .regiStep{
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 1px solid #ccc;
  border-radius: 50%;
  font-size: 40px;
  line-height: 2;
}
.main-wrap .dashboardWrap .cmptRegistration{
  border: 2px solid #cccccc;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.09);
}
.main-wrap .dashboardWrap .cmptRegistration h3{
  text-align: left;
}
.main-wrap .dashboardWrap .cmptRegistration a{
  margin-top: 15px;
  display: block;
}
.main-wrap .dashboardWrap .cmptRegistration p{
  padding-top: 20px;
}